.mainIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 89px;
  top: 13px;
}
.navbar {
  width: 1441px;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
.logoText {
  color: black;
  margin-left: 55px;
  margin-top: -26px;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
.container2 {
  height: 561px;
  background-color: #003145;
}
.textInContainer {
  position: absolute;
  width: 643px;
  height: 112px;
  left: 205px;
  top: 190px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}
.textInContainer2 {
  position: absolute;
  width: 531px;
  height: 112px;
  left: 205px;
  top: 340px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  color: #ececec;
}

.imageIncontainer2 {
  position: absolute;
  width: 242px;
  height: 294px;
  left: 1050.34px;
  top: 170px;
  padding-left: 408px;
}

.imageIncontainer2 :hover {
  transform: rotate(21.41deg);
  cursor: auto;
}

.buttonInContainer2 {
  position: relative;
  width: 198px;
  height: 47px;
  left: 205px;
  top: 420px;
  background: #ffffff;
  border-radius: 10px;
}

.btn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #003145;
}

.smallRectangle {
  position: absolute;
  width: 9.71px;
  height: 115.91px;
  left: 143px;
  top: 188px;
  background: #ffce5c;
}

.container3 {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0px;
  background: #002a3b;
  box-sizing: border-box;
}
.smallImage1 {
  display: block;
  width: 100%;
  padding: 66px 184px;
}

.smallImage2 {
  display: block;
  padding-left: 50%;
  padding-top: -19px;
  margin-top: -121px;
}
.smallImage3 {
  display: block;
  padding-left: 1573px;
  margin-top: -55.5px;
}

.textHundred {
  position: absolute;
  width: 157px;
  height: 17px;
  left: 260px;
  top: 698px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 83%;
  color: #ffffff;
}
.smallText1 {
  position: absolute;
  width: 169px;
  height: 17px;
  left: 260px;
  top: 720px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.textHundred2 {
  position: absolute;
  width: 83px;
  height: 17px;
  left: 1020px;
  top: 700px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
}
.smallText2 {
  position: absolute;
  width: 135px;
  height: 17px px;
  left: 1021px;
  top: 722px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.textHundred3 {
  position: absolute;
  width: 120px;
  height: 17px;
  left: 1641px;
  top: 699px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
}
.smallText3 {
  position: absolute;
  width: 172px;
  height: 17px px;
  left: 1642px;
  top: 725px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.smallRectangle1 {
  position: absolute;
  width: 1px;
  height: 38px;
  left: 697px;
  top: 708px;
  background: #c4c4c4;
}

.smallRectangle2 {
  position: absolute;
  width: 1px;
  height: 38px;
  left: 1302px;
  top: 697px;
  background: #c4c4c4;
}
.container4 {
  position: absolute;
  width: 100%;
  height: 1050px;
  left: 0px;
  top: 825px;
  border: 2px solid black;
  background: #ffffff;
}

.headerInBlock3 {
  position: absolute;
  width: 912px;
  height: 24px px;
  left: 554px;
  top: 85px;
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62%px;
  text-align: center;
  color: #000000;
}
.s2 {
  color: #44924c;
}
.div1incont4 {
  position: absolute;
  width: 542px;
  height: 276px;
  left: 224px;
  top: 298px;
  background: #f8f9fd;
  border-radius: 20px;
}
.div2incont4 {
  position: absolute;
  width: 542px;
  height: 276px;
  left: 224px;
  top: 663px;
  background: #f8f9fd;
  border-radius: 20px;
}
.div3incont4 {
  position: absolute;
  width: 542px;
  height: 276px;
  left: 1133px;
  top: 298px;
  background: #f8f9fd;
  border-radius: 20px;
}
.div4incont4 {
  position: absolute;
  width: 542px;
  height: 276px;
  left: 1133px;
  top: 663px;
  background: #f8f9fd;
  border-radius: 20px;
}
